body{
	background-color:black;
}
input{
	font-size: 20px; 
}
#ac:focus{
	background-color: black;
	color: white;
}
#bc:focus{
	background-color: black;
	color: white;
}
@media  screen and(max-width: 600px){
	input{
		font-size: 34px;
	}
}
p{
	color: white;
        margin-left: 600px;
}
span{
color: white;
}
strong ,input{
margin-top: 100px;
margin-left: 600px;
}
#bc,strong{
margin-left: -0px;
}