body{
	background-image: url("silhouette_city_street_123496_1280x720.jpg")
}
input{
	font-size: 20px; 
}
#ac:focus{
	background-color: black;
	color: white;
}
#bc:focus{
	background-color: black;
	color: white;
}
@media  screen and(max-width: 600px){
	input{
		font-size: 34px;
	}
}
p{
	color: white;
}
