body{
	background-color: blue;
}
input{
	font-size: 20px; 
}
#ac:focus{
	background-color: black;
	color: white;
}
#bc:focus{
	background-color: black;
	color: white;
}
@media  screen and(max-width: 600px){
	input{
		font-size: 34px;
	}
}
p{
	color: white;
}
